h3 {
 color: #003366;
}


caption {
  font-size: 25px;
}


#main { 
margin: 0 auto; 
/*border: 1px dashed #000;*/ 
    
width: 800px; 
height: 100%; 
display: block; 
} 

#menu { 
width: 100%; 
display: block; 
float: left; 
height: 40px; 
} 

ul#mainNav { 
margin: 0; 
padding: 0; 
list-style: none; 
float: left; 
width: 100%; 
border: 1px solid #000; 
background: #003366; 
} 

ul#mainNav li { 
display: inline; 
} 

ul#mainNav a { 
background: #003366; 
float: left; 
display: block; 
color: white; 
border-right: 1px solid #FFFFFF; 
padding: 0.2em 1em; 
text-decoration: none; 
} 

ul#mainNav a:hover { 
background: #69C; 
color: #000; 
}


.conteiner {
    display: block;
    text-align: center;
    margin: 22px auto;
    border: 10px solid #003366;
    max-width: 782px;
}

form p {
    text-align: right;
    margin-right: 35%;
    text-transform: uppercase;
}

img {
 width: 100%;   
}

.back {
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px; 
    background: #69C; 
    color: #fff; 
    width: 100%; 
}

table {
  text-align: center;    
}

.students{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C;
   }

.groups{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C;
    margin-left: 410px; 
   }

.specialities{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C; 
    margin-left: 820px; 
   }

.delete_students{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C; 
   }
.delete_specialities{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C; 
    margin-left: 440px; 
   }
   
.delete_groups{
    position: absolute;
    width: 400px; 
    border: 1px solid #69C; 
    margin-left: 1000px; 
   }

